
h1 {
    text-align: center;
    color: blue;
}

.itemDesign {
    border: 2px solid black;
    background: gray;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.imagesizing {
    width: 175px;
    height: 175px;
 
}

#ITEMS {
    place-items: center;
    overflow: scroll;
}

.btn-basket{
    text-align:center;
}