.breakfast {
    position: absolute;
    top: 40%;
    left: 10%;
    background: darkslateblue;
    width: 350px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
}

.lunch {
    position: absolute;
    top: 40%;
    left: 40%;
    background: darkslateblue;
    width: 350px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
}

.others {
    position: absolute;
    top: 40%;
    left: 70%;
    background: darkslateblue;
    width: 350px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
}

.menuText {
    text-align: center;
    padding-top: 55px;
    font-size: 70px;
}
