/* Typography
======================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(100deg, grey, lightgray);
}

#app{
    position: relative;
    height: 100vh;
}

.B-Header {
    font-weight: normal;
    color: #012E56;
    text-align: center;
    font-size: 2.5em;
}

.Page-Title {
    margin-top: 10%;
}

/* Header
======================*/


header {
    position: fixed;
    overflow:hidden;
    background: linear-gradient(100deg, grey,darkgrey);
    z-index: 1;
    top:0;
    height: 13vh;
    width:100%;
    border-bottom: 1px solid black;
}

.Items {
    display: flex;
    height: 100%;
}

.Item {
    width: 10%;
    align-self: center;
    text-align: center;
}

.Item-Logo{
    width:60%;
}

.Item:first-of-type {
    width:20%;
    text-align: left;
    padding-left: 50px;
}

.Item h3 {
    font-size: 1.6em;
    margin-right: 4.8em;
}

.cancelOrder {
    border: 1px solid black;
    padding-left: 5%;
    width: 25%;
    height: auto;
}

.logo-img{
    width: 300px;
    height: auto;
}

/* Header Login */

section {
    margin-top: 10%;
}

.center {
    background: white;
    width: 350px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
}

.welcome {
    font-size: 20px;
    font-family: Impact;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 1px solid silver;
    padding: 10px 0 20px 0;
}

.description {
    font-size: 15px;
}

.cardNumber {
    padding-top: 55px;
    animation: left-to-right 6s ease-in-out infinite alternate;
}

.testText {
    text-align: center;
    padding-top: 40px;
}

@keyframes left-to-right {
    0% {
        transform: translateX(0%);
        color: blue;
    }
    100% {
        transform: translateX(70%);
        color: pink;
    }
}

.Login-Items {
    display: flex;
    height: 100%;
}

.Login-Items div {
    width: 100%;
    text-align: center;
    align-self: center;
}

/* Main-Frontpage
======================*/

.frontpage-section {
    margin-top: 13%;
    display: flex;
    justify-content: space-evenly;
}

.breakfast {
    top: 200%;
    left: 10%;
    background: darkslateblue;
    width: 350px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
}

.lunch {
    top: 200%;
    left: 40%;
    background: darkslateblue;
    width: 350px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
}

.others {
    top: 200%;
    left: 70%;
    background: darkslateblue;
    width: 350px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
}

.menuText {
    text-align: center;
    padding-top: 55px;
    font-size: 70px;
}

/* lunch-Frontpage
======================*/

.dayBox
{
    background: darkslateblue;
    width: 14%;
    height: 600px;
    border-radius: 20px;
    float: left;
    margin-left: 5%;
}

.checkBox {
    padding-top: 32%;
    padding-left: 5.5%;
    margin-bottom: 5%;
    position: fixed;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.dateName
{
    padding-left: 270%;
    padding-top: 70%;
    color: green;
}

.theDate
{
    padding-left: 270%;
    color:orange;
}

.menu {

    padding-top: 100%;
    padding-left: 270%;
    color: pink;
}

.menuName {
    padding-left: 270%;
    color: gold;
}

.description {
    padding-top: 150%;
    padding-left: 270%;
    color: pink;
}

.menuDescription {
    padding-left: 270%;
    color: gold;
}

/* ?-Frontpage
======================*/


.Employee-id {
    border: 1px solid black;
}


.shoppingCart {
    border: 1px solid black;
    padding-left: 25%;
    width: 25%;
}


.cart-icon {
    /*position: fixed;
    z-index: 2;
    top: 30px;*/
    right: 16px;
}

#Employee-password {
    /* When we have the card reader
    filter: opacity(0);
    width: 0;
    overflow: hidden;
    */
}

.itemDesign {
    border: 2px solid black;
    background: gray;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.imagesizing {
    width: 175px;
    height: 175px;
}

#ITEMS {
    /*place-items: center;*/
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itemDesign{
    margin: 30px;
}

#shopCartItems {
    text-align: center;
    width:50%;
    margin: 0 auto;
}

.cart-TOTAL{
    text-align:center;
}

.btn-basket {
    text-align: center;
}

.cart-item-design {
    height: 100px;
    align-items: center;
    display: flex;
    margin-right: 1.5em;
    margin-left: 1em;
    background: gray;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius:10px;
}


.cart-foodTitle {
    font-weight: bold;
    margin-right: 1.5em;
    width:20%;
}

.cart-imagesizing {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin: 0 1.5em;
}

.Cart-Input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-desc {
    width: 20%;
    margin: 0 1.5em;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    margin: 0 1.5em;
}

#cart-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.cart-purchase:hover {
    background-color: #2D9CDB;
}